{% extends 'base.html' %}

{% block title %}Welcome to Tour Finder{% endblock %}

{% block content %}
<style>
    .welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;  /* Change to match your branding */
    text-shadow: 1px 1px #888888;
    }
</style>
<div class="container mt-5">
    <h1 class="text-center welcome-text">Welcome to HotTour!</h1>
    <p class="text-center lead">Find your perfect adventure among our exciting tours.</p>

    <h2 class="text-center mt-5">Hot Tours</h2>
    <div class="row justify-content-center">
        {% for tour in tours[:3] %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="{{ url_for('static', filename=tour.image_path) }}" class="card-img-top" alt="{{ tour.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ tour.name }}</h5>
                <p class="card-text">Available Spots: {{ tour.available_spots }}</p>
                <p class="card-text">Price: {{ tour.price_per_person }}$</p>
                <a href="{{ url_for('book_tour', id=tour.id) }}" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
